body {
	background-color: #f4f5f5;
	font-family: Geneva, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	
}
a {
	text-decoration: none;
}
a:hover {
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
	text-decoration: underline;
}

#wrapper {
	background-color: #f4f5f5;
	height: auto;
	width: 100%;
}
#header {
	background-color: #3f8cbc;
	height: 240px;
	width: inherit;
	background-image: url(images/pattern.png);
	
}
#logo {
	background-image: url(images/billyprofile.png);
	background-repeat: no-repeat;
	height: 240px;
	width: 160px;
	margin: 0px;
	padding: 0px;
	padding-left: 50px;
	margin-right: auto;
	float:left;
} 
#header h1 {
	font-family: "Palatino", "Book Antiqua", Palatino, serif;
	font-size: 84px;
	font-weight:normal;
	color: white;
	padding-top: 100px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 660px;
	height: auto;
	float: left;
	
}
#header h1 a {
	-webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
	color: white;
}
#header h1 a:hover {
	-webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
	color: #CCC;
	text-decoration: none;
}
#nav {
	background-image: url(images/navbar.gif);	
	
}
#navbar {
	margin-left: auto;
	margin-right: auto;
	height: 25px;
	width: 1080px;	
	font-size: 16px;
}
#navbar ul {
	display: inline;
}
#navbar ul li {
	display: inline;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 20px;
	padding-left: 20px;
}
#navbar ul li a {
	text-decoration: none;
	color: white;
	padding: 10px;
	padding-top: 0px;
	padding-left: 40px;
	padding-right: 40px;
	line-height: 25px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 1px;
	border-bottom-left-radius: 1px;
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
#navbar ul li a:hover {
	background-color: #f4f5f5;
	color: #013d63;
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
#topnav {
	font-family: "Times New Roman", Times, serif;
	background-color: #CCC;
	height: auto;
	width: auto;
	font-size: 10px;
	float: right;
}
#topnav ul {
	display: inline;
}
#topnav ul li {
	display: inline;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
}
#topnav ul li a {
	text-decoration: none;
	color: black;
	line-height: 25px;
}
#topnav ul li a:hover {
	text-decoration: underline;
}
#content {
	margin-right: auto;
	margin-left: auto;
	
	padding: 50px;
	height: auto;
	width: 1080px;
}
#adspace {
	padding: 10px;
	height: 800px;
	width: 200px;
	background-color: white;
	float: right;
	margin-left: 0px;
	margin-bottom: 2px;
	margin-right: 10px;
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}


.article {
	background-color: #FFF;
	padding: 10px;
	height: auto;
	width: 350px;

}

#slideshow {
	background-color: #FFF;
	float: left;
	height: 300px;
	width: 805px;
	margin-left: 5px;
}
#dummyspace {
	width: 400px;
	height: auto;
}
#footer {
	background-color: #afcde0;
	clear: both;
	height: auto;
	margin: 0px;
	padding-top: 50px;
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
	color: white;
}
#footer p { 
	margin-left: auto;
	margin-right: auto; 
	padding: 10px;
	padding-bottom: 0px;
}
#footernav {
	clear: both;
	background-color: #CCC;
	margin-top: 50px;
}
#footerbar {
	margin-left: auto;
	margin-right: auto;
	height: 25px;
	width: 1080px;	
	font-size: 12px;
}
#footerbar ul {
	display: inline;
	margin-left: auto;
	margin-right: auto;
	background-color: blue;
}
#footerbar ul li {
	display: inline;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 20px;
	padding-left: 20px;
}
#footerbar ul li a {
	text-decoration: none;
	color: #013d63;
	margin-top: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 40px;
	padding-right: 40px;
	line-height: 25px;
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
#footerbar ul li a:hover {
	background-color: #f4f5f5;
	color: #013d63;
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
#footercontent {
	width: 1000px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}
#footercontent h1 {
	border-bottom-width: 5px;
	border-bottom-color: #3f8cbc;
}
.cats {
	width: 100px;
	height: auto;
	float: left;
	padding: 10px;
	margin: 2.5px;
}
#archives {
	float: left;
	width: 500px;
	margin-left: auto;
	margin-right: 40px;
	padding: 10px;
	padding-right: 100px;
	border-right-width: 2px;;
	border-right-style: solid;
	border-right-color: #3f8cbc;
}
#print {
	height: 200px;
	padding: 10px;
	padding-left: 0px;
	margin-left: auto;
	margin-right:auto;

}
#dummyline {
	height: 2px;
	background-color: #3f8cbc;
	width: inherit;
}
#print h2 {
}
.border {
	border: 2.5px groove #3f8cbc;	
}
#toparticles {
	margin: 0px;
	margin-top: 5px;
	float: left;
	height: auto;
	width: 800px;
	padding: 0px;
}
#toparticles p {
	margin: 0px;
	margin-left: 5px;
	padding: 5px;
	padding-bottom: 0px;	
}
#bottomarticles {
	margin: 0px;
	margin-top: 5px;
	float: left;
	height: auto;
	width: 800px;
	padding: 0px;
}
#bottomarticles p {
	margin: 0px;
	margin-left: 5px;
	padding: 5px;
	padding-bottom: 0px;
}
.fixed {
	position:fixed;
	width: inherit;
}
.navhover {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

